<div class="container">
    <h1>Personas</h1>

    <form [formGroup]="personForm" (ngSubmit)="saveData()" class="form">
        <mat-form-field appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput formControlName="name" type="text" autocomplete="off">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Edad</mat-label>
            <input matInput formControlName="age" type="number" autocomplete="off">
        </mat-form-field>

        <button [disabled]="!personForm.valid" class="save-button" type="submit" mat-raised-button color="warn">Guardar</button>

    </form>


    <div class="table-container">
        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Nombre </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
            </ng-container>

            <!-- Age Column -->
            <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Edad </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <!-- Actiond Column -->
            <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element; let i=index">
                    <button (click)="edit(element, i)" mat-mini-fab color="">
                        <mat-icon>edit</mat-icon>
                    </button>

                    <button (click)="delete(element, i)" mat-mini-fab color="">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>


    </div>

    <button class="next-button" routerLink="/paises" mat-raised-button color="primary">Ir a países</button>
</div>